# Dependencias
node_modules/

# Builds Angular
dist/

# Builds Next.js
.next/
out/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db